@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

:root {
  --background: 107 100% 95%;
  --foreground: 107 5% 10%;
  --card: 107 50% 90%;
  --card-foreground: 107 5% 15%;
  --popover: 107 100% 95%;
  --popover-foreground: 107 100% 10%;
  --primary: 107 48% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 107 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 69 30% 85%;
  --muted-foreground: 107 5% 35%;
  --accent: 69 30% 80%;
  --accent-foreground: 107 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 107 5% 90%;
  --border: 107 30% 50%;
  --input: 107 30% 26%;
  --ring: 107 48% 44%;
  --radius: 0.5rem;
}

.dark {
  --background: 107 50% 10%;
  --foreground: 107 5% 90%;
  --card: 107 50% 10%;
  --card-foreground: 107 5% 90%;
  --popover: 107 50% 5%;
  --popover-foreground: 107 5% 90%;
  --primary: 107 48% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 107 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 69 30% 25%;
  --muted-foreground: 107 5% 60%;
  --accent: 69 30% 25%;
  --accent-foreground: 107 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 107 5% 90%;
  --border: 107 30% 26%;
  --input: 107 30% 26%;
  --ring: 107 48% 44%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}