html{
    font-family: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden!important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scroll bar */
::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
    overflow: hidden!important;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 5px;
}


/* layouts */
.container {
    @apply w-full px-4 md:px-0 md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1200px] 2xl:max-w-[1400px] mx-auto;
}
.section-layout{
    @apply pt-20 block;
}