@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

:root {
  --background: 126.4 50% 95%;
  --foreground: 126.4 2.5% 7.5%;
  --card: 126.4 25% 95%;
  --card-foreground: 126.4 2.5% 12.5%;
  --popover: 126.4 50% 97.5%;
  --popover-foreground: 126.4 97.5% 5%;
  --primary: 126.4 34.2% 57.1%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 126.4 20% 80%;
  --secondary-foreground: 0 0% 0%;
  --muted: 164.4 20% 90%;
  --muted-foreground: 126.4 2.5% 37.5%;
  --accent: 164.4 20% 85%;
  --accent-foreground: 126.4 2.5% 12.5%;
  --destructive: 0 75% 40%;
  --destructive-foreground: 126.4 2.5% 95%;
  --border: 126.4 25% 66%;
  --input: 126.4 25% 34%;
  --ring: 126.4 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 126, 50%, 90%;
  --sidebar-foreground: 126, 3%, 7%;
  --sidebar-primary: 126, 34%, 51%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 164, 20%, 81%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 126, 25%, 63%;
  --sidebar-ring: 116, 98%, 45%;
}

.dark {
  --background: 126.4 30% 7.5%;
  --foreground: 126.4 2.5% 95%;
  --card: 126.4 25% 5%;
  --card-foreground: 126.4 2.5% 95%;
  --popover: 126.4 30% 5%;
  --popover-foreground: 126.4 2.5% 95%;
  --primary: 126.4 34.2% 57.1%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 126.4 20% 15%;
  --secondary-foreground: 0 0% 100%;
  --muted: 164.4 20% 20%;
  --muted-foreground: 126.4 2.5% 62.5%;
  --accent: 164.4 20% 20%;
  --accent-foreground: 126.4 2.5% 92.5%;
  --destructive: 0 75% 40%;
  --destructive-foreground: 126.4 2.5% 95%;
  --border: 126.4 25% 34%;
  --input: 126.4 25% 34%;
  --ring: 126.4 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 126, 30%, 10%;
  --sidebar-foreground: 126, 3%, 100%;
  --sidebar-primary: 126, 34%, 46%;
  --sidebar-primary-foreground: 0, 0%, 0%;
  --sidebar-accent: 164, 20%, 17%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 126, 25%, 32%;
  --sidebar-ring: 116, 98%, 45%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}